.md-reader {
    line-height: 1.5;
}

.md-reader h1 {
    @apply font-bold text-3xl my-2
}

.md-reader h2 {
    @apply font-bold text-2xl my-2
}

.md-reader h3 {
    @apply font-bold text-xl my-1
}

.md-reader h3, h4, h5, h6 {
    @apply font-bold text-lg my-1
}

.md-reader p {
    @apply my-2
}

.md-reader a {
    color: #16a2cc;
    text-decoration: underline;
}

.md-reader ul, ol {
    @apply ml-4
}

.md-reader code {
    font-family: monospace;
    background-color: #f0f0f0;
    padding: 2px 4px;
}

.md-reader pre {
    background-color: #f0f0f0;
    padding: 10px;
    overflow-x: auto;
}

.md-reader blockquote {
    border-left: 3px solid #ccc;
    padding-left: 10px;
    margin: 0 0 1em;
}